<app-navbar></app-navbar>
<!-- Inner Page Header -->
<header class="inner-page-header">
    <div class="container">
        <div class="header-inner-content">
            <h1>Our Quizes</h1>
        </div>
    </div>
</header>
<!-- Inner Page Header -->
<!-- Quiz Section -->
<section class="quiz-section pt-100 pb-70 border-bottom">
    <div class="container">
        <div class="section-title">
            <small>Find Quizes</small>
            <h2>ALL Quizes</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 pb-30" *ngFor="let turtles of myturtles">
                <div class="quiz-card">
                    <div class="quiz-card-thumb">
                        <a (click)="changeActiveTurtle(turtles)">
                            <img src="{{turtles.imageUrl}}" alt="blog">
                        </a>
                        <div class="quiz-time" *ngIf="turtles.splittedDate">
                            {{turtles.splittedDate.number}}
                            <span>{{turtles.splittedDate.month}}</span>
                        </div>
                    </div>
                    <div class="quiz-card-content">
                        <h3 (click)="changeActiveTurtle(turtles)">{{turtles.type}}</h3>
                        <p>{{turtles.details}}</p>
                        <ul class="quiz-entry">
                            <li>
                                <i class="fas fa-eye"></i>542
                            </li>
                            <li>
                                <i class="fas fa-comment-dots"></i>17
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Quiz Section -->
<div class="my-modal-wrapper" [class.active]="myModalTrue" *ngIf="activeTurtle">
    <div class="my-modal-body">
        <div class="my-modal-header">
            <h3>{{activeTurtle.type}}</h3>
            <button (click)="closeModal()" class="my-close-btn"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body-content">
            <img src="{{activeTurtle.imageUrl}}" alt="modal">
            <p><Strong>Location:</Strong> {{activeTurtle.location}}</p>
            <p><Strong>Size:</Strong> {{activeTurtle.size}}</p>
            <p><Strong>Lifespan:</Strong> {{activeTurtle.lifespan}}</p>
            <p><Strong>Description:</Strong> {{activeTurtle.details}}</p>
        </div>
        <div class="my-modal-footer">
            <button (click)="closeModal()">CLOSE MODAL</button>
        </div>
    </div>
</div>
<!-- Quiz Modal -->
<app-footer></app-footer>