<!-- Partner Section -->
<section class="partner-section ptb-100 bg-section">
    <div class="container">
        <owl-carousel-o [options]="partnerCarousel" class="partner-carousel">
            <ng-template carouselSlide>
                <div class="partner-slide">
                    <a href="https://yosite.orderpoz.co.uk/">
                    <img src="../../../assets/images/partner/partner-1.png" alt="partner"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="partner-slide">
                    <a href="https://yosite.orderpoz.co.uk/">
                    <img src="../../../assets/images/partner/partner-2.png" alt="partner"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="partner-slide">
                    <a href="https://yosite.orderpoz.co.uk/">
                    <img src="../../../assets/images/partner/partner-3.png" alt="partner"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="partner-slide">
                    <a href="https://yosite.orderpoz.co.uk/">
                    <img src="../../../assets/images/partner/partner-4.png" alt="partner"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="partner-slide">
                    <a href="https://yosite.orderpoz.co.uk/">
                    <img src="../../../assets/images/partner/partner-5.png" alt="partner"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="partner-slide">
                    <a href="https://yosite.orderpoz.co.uk/">
                    <img src="../../../assets/images/partner/partner-6.png" alt="partner"></a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
<!-- Partner Section -->