<!-- Team Section -->
<section class="team-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <small>Who We Are</small>
            <h2>Meet Our Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 pb-30">
                <div class="team-card">
                    <div class="animate-image-card">
                        <div class="animate-card-area">
                            <img src="../../../assets/images/team/team-1.jpg" alt="about">
                            <ul class="team-social-list">
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-card-info">
                        <h3>MATTHEW DIX</h3>
                        <p>Graphic Design</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 pb-30">
                <div class="team-card">
                    <div class="animate-image-card">
                        <div class="animate-card-area">
                            <img src="../../../assets/images/team/team-2.jpg" alt="about">
                            <ul class="team-social-list">
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-card-info">
                        <h3>CHRISTOPHER CAMPBELL</h3>
                        <p>Branding/UX Design</p>
                    </div>
                </div>
            </div>
            <div class="offset-sm-3 offset-lg-0 col-sm-6 col-lg-4 pb-30">
                <div class="team-card">
                    <div class="animate-image-card">
                        <div class="animate-card-area">
                            <img src="../../../assets/images/team/team-3.jpg" alt="about">
                            <ul class="team-social-list">
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://yosite.orderpoz.co.uk/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-card-info">
                        <h3>MICHAEL FERTIG</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section -->