<!-- Accordion Section -->
<section class="accordion-section pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <small>Service</small>
            <h2>WHAT WE DO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion-wrapper">
                    <div class="accordion-item" [ngClass]="{'active' : toggleAccordion == 1}">
                        <h3 class="accordion-header" (click)="toggleAccordion=1">
                            <button>
                                <i class="far fa-image"></i> PHOTOGRAPHY
                            </button>
                        </h3>
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <!-- <div class="accordion-item">
                        <h3 class="accordion-header" (click)="toggleAccordion()">
                            <button>
                                <i class="far fa-image"></i> PHOTOGRAPHY
                            </button>
                        </h3>
                        <div class="accordion-body" *ngIf="showAccordion">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Accordion Section -->
