<!-- Client Section -->
<section class="client-section parallax-bg ptb-100">
    <div class="container">
        <div class="client-section-inner">
            <div class="section-title">
                <small>Happy Clients</small>
                <h2>What People Say</h2>
            </div>
            <div class="row client-flat-wrapper">
                <div class="col-lg-6 pb-30">
                    <div class="client-flatbox">
                        <div class="client-flat-image">
                            <img src="assets/images/client/client-1.jpg" alt="client">
                        </div>
                        <div class="client-flat-texts">
                            <h3>MATTHEW DIX</h3>
                            <div class="client-endline">Graphic Design</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pb-30">
                    <div class="client-flatbox">
                        <div class="client-flat-image">
                            <img src="assets/images/client/client-2.jpg" alt="client">
                        </div>
                        <div class="client-flat-texts">
                            <h3>NICK KARVOUNIS</h3>
                            <div class="client-endline">Graphic Design</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pb-30">
                    <div class="client-flatbox">
                        <div class="client-flat-image">
                            <img src="assets/images/client/client-3.jpg" alt="client">
                        </div>
                        <div class="client-flat-texts">
                            <h3>JAELYNN CASTILLO</h3>
                            <div class="client-endline">Graphic Design</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pb-30">
                    <div class="client-flatbox">
                        <div class="client-flat-image">
                            <img src="assets/images/client/client-4.jpg" alt="client">
                        </div>
                        <div class="client-flat-texts">
                            <h3>MIKE PETRUCCI</h3>
                            <div class="client-endline">Graphic Design</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Section -->