<!-- Testimonial Section -->
<section class="testimonial-section ptb-100">
    <div class="container">
        <owl-carousel-o [options]="testimonialCarousel" class="speech-carousel">
            <ng-template carouselSlide>
                <div class="person-carousel-box">
                    <div class="person-carousel-image">
                        <img src="assets/images/testimonial/testimonial-1.jpg" alt="testimonial">
                    </div>
                    <div class="person-carousel-texts">
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                        <div class="person-carousel-endline">Joshua Earle</div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="person-carousel-box">
                    <div class="person-carousel-image">
                        <img src="assets/images/testimonial/testimonial-2.jpg" alt="testimonial">
                    </div>
                    <div class="person-carousel-texts">
                        <p>“Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.”</p>
                        <div class="person-carousel-endline">Devit M. Kotlin</div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="person-carousel-box">
                    <div class="person-carousel-image">
                        <img src="assets/images/testimonial/testimonial-3.jpg" alt="testimonial">
                    </div>
                    <div class="person-carousel-texts">
                        <p>“At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.”</p>
                        <div class="person-carousel-endline">Jenelia Anderson</div>
                    </div>
                </div>
            </ng-template>  
        </owl-carousel-o>
    </div>
</section>
<!-- Testimonial Section -->