<!-- Footer -->
<footer class="footer-section pt-100">
    <div class="container">
        <div class="footer-upper pb-70">
            <div class="row">
                <div class="col-lg-5 desk-pad-right-30 pb-30">
                    <a class="footer-logo" routerLink="/">
                        <img src="../../../assets/images/footer-logo.png" alt="footer">
                    </a>
                    <div class="footer-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <div class="footer-social">
                            <p><strong>15k</strong>followers</p>
                            <div class="footer-social-list">
                                <span>Follow Us:</span>
                                <ul class="social-list">
                                    <li>
                                        <a href="https://yosite.orderpoz.co.uk/">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://yosite.orderpoz.co.uk/">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://yosite.orderpoz.co.uk/">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://yosite.orderpoz.co.uk/">
                                            <i class="fab fa-pinterest-p"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://yosite.orderpoz.co.uk/">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://yosite.orderpoz.co.uk/">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://yosite.orderpoz.co.uk/">
                                            <i class="fab fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://yosite.orderpoz.co.uk/">
                                            <i class="fab fa-tumblr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <form class="newsletter-form">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Your Email..." required />
                                <button type="submit">SUBSCRIBE</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 desk-pad-right-30 pb-30">
                    <h3 class="footer-title">BLOGS</h3>
                    <div class="footer-details recent-list">
                        <div class="recent-list-item">
                            <div class="recent-list-thumb">
                                <a routerLink="/">
                                    <img src="../../../assets/images/blog/blog-4.jpg" alt="blog">
                                </a>
                            </div>
                            <div class="recent-list-content">
                                <h4>
                                    <a routerLink="/">LOREM IPSUM DOLOR SIT AMET</a>
                                </h4>
                                <div class="recent-entry-time">Jan 09, 2021</div>
                            </div>
                        </div>
                        <div class="recent-list-item">
                            <div class="recent-list-thumb">
                                <a routerLink="/">
                                    <img src="../../../assets/images/blog/blog-5.jpg" alt="blog">
                                </a>
                            </div>
                            <div class="recent-list-content">
                                <h4>
                                    <a routerLink="/">CONSECTETUR ADIPISCING ELIT</a>
                                </h4>
                                <div class="recent-entry-time">Jan 08, 2021</div>
                            </div>
                        </div>
                        <div class="recent-list-item">
                            <div class="recent-list-thumb">
                                <a routerLink="/">
                                    <img src="../../../assets/images/blog/blog-6.jpg" alt="blog">
                                </a>
                            </div>
                            <div class="recent-list-content">
                                <h4>
                                    <a routerLink="/">CONSECTETUR ADIPISCING ELIT</a>
                                </h4>
                                <div class="recent-entry-time">Jan 07, 2021</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-30">
                    <h3 class="footer-title">INSTAGRAM</h3>
                    <div class="footer-details">
                        <div class="instagram-list">
                            <div class="instagram-list-item">
                                <a routerLink="/">
                                <img src="../../../assets/images/instagram/instagram-1.jpg" alt="instagram"></a>
                            </div>
                            <div class="instagram-list-item">
                                <a routerLink="/">
                                <img src="../../../assets/images/instagram/instagram-2.jpg" alt="instagram"></a>
                            </div>
                            <div class="instagram-list-item">
                                <a routerLink="/">
                                <img src="../../../assets/images/instagram/instagram-3.jpg" alt="instagram"></a>
                            </div>
                            <div class="instagram-list-item">
                                <a routerLink="/">
                                <img src="../../../assets/images/instagram/instagram-4.jpg" alt="instagram"></a>
                            </div>
                            <div class="instagram-list-item">
                                <a routerLink="/">
                                <img src="../../../assets/images/instagram/instagram-5.jpg" alt="instagram"></a>
                            </div>
                            <div class="instagram-list-item">
                                <a routerLink="/">
                                <img src="../../../assets/images/instagram/instagram-6.jpg" alt="instagram"></a>
                            </div>
                            <div class="instagram-list-item">
                                <a routerLink="/">
                                <img src="../../../assets/images/instagram/instagram-7.jpg" alt="instagram"></a>
                            </div>
                            <div class="instagram-list-item">
                                <a routerLink="/">
                                <img src="../../../assets/images/instagram/instagram-8.jpg" alt="instagram"></a>
                            </div>
                            <div class="instagram-list-item">
                                <a routerLink="/">
                                <img src="../../../assets/images/instagram/instagram-9.jpg" alt="instagram"></a>
                            </div>
                        </div>
                        <a routerLink="/" class="redirect-link">View More Link <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <p>Copyright ©2021 Mogo. Designed & Developed By <a routerLink="/">Laaqiq</a></p>
        </div>
    </div>
</footer>
<!-- Footer -->