<!-- <app-navbar></app-navbar> -->
<!-- <app-homepage></app-homepage> -->
<router-outlet></router-outlet>

<!-- Alarm -->
<div class="alarm-box" [ngClass]="{'active' : alarmShow}">
    <div class="alarm-icon" (click)="alarmPopup()">
        <i class="fas fa-cog"></i>
    </div>
    <div class="alarm-body">
        <h2>Create An Alarm</h2>
        <form>
            <input type="text" class="form-control" placeholder="2021-04-24 12:50:00" [(ngModel)]="alarmTime" name="alarm" #alarmInput>
            <small class="help-block">You must add your time by following the given example: yyyy-mm-dd hh:mm:ss</small>
            <button type="button" class="btn main-btn main-btn-green" (click)="alarm($event)">SET ALARM</button>
        </form>
        <p class="remaining-time">Time remaining: <span>{{dayRemaining}}</span>:<span>{{hourRemaining}}</span>:<span>{{minuteRemaining}}</span>:<span>{{secondRemaining}}</span></p>
    </div>
</div>
<!-- Alarm -->

<!-- Timer Finish Modal -->
<div class="error-modal-wrapper" [ngClass]="{'active': alarmPopupValue}">
    <div class="error-modal">
        <div class="error-modal-body">
            <img src="assets/images/error-modal.png" alt="">
            <p>Stop the alarm</p>
        </div>
        <div class="error-modal-footer d-flex justify-content-center">
            <button class="btn main-btn main-btn-green" (click)="stopAlarm()">STOP ALARM</button>
        </div>
    </div>
</div>
<!-- Error Modal -->