@import "../../../assets/css/variable";

// Parallax bg
.parallax-bg {
    background-image: url(../../../assets/images/parallax-bg.jpg);
}
.feature-section-inner {
    position: relative;
    z-index: 1;
}
.feature-phone {
    text-align: center;
    position: relative;
}
.feature-phone-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(130px, 100px);
    @media #{$to-991} {
        transform: translate(100px, 50px);
    }
    @media #{$to-767} {
        transform: translate(10px, 50px);
    }
}