<!-- Feature Section -->
<section class="feature-section parallax-bg pt-100">
    <div class="container">
        <div class="feature-section-inner">
            <div class="section-title">
                <small>For All Devices</small>
                <h2>UNIQUE DESIGN</h2>
            </div>
            <div class="feature-phone">
                <img src="assets/images/tab.png" alt="phone">
                <div class="feature-phone-scroll">
                    <img src="assets/images/phone.png" alt="phone">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section -->
