<!-- Masonery Section -->
<section class="masonery-section pt-100">
    <div class="container-fluid p-0">
        <div class="section-title">
            <small>What We Do</small>
            <h2>SOME OF OUR WORK</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>

        <div class="row g-0">
            <div class="col-12 col-sm-6">
                <div class="row g-0 full-height">
                    <div class="col-6">
                        <div class="masonery-image">
                            <a>
                                <img src="../../../assets/images/masonery/masonery-1.jpg" alt="masonery">
                                <div class="masonery-info">
                                    <i class="fas fa-image"></i>
                                    <h3>CREATIVELY DESIGNED</h3>
                                    <p>Lorem ipsum dolor sit</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="masonery-image">
                            <a>
                                <img src="../../../assets/images/masonery/masonery-2.jpg" alt="masonery">
                                <div class="masonery-info">
                                    <i class="fas fa-image"></i>
                                    <h3>CREATIVELY DESIGNED</h3>
                                    <p>Lorem ipsum dolor sit</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="masonery-image">
                            <a>
                                <img src="../../../assets/images/masonery/masonery-3.jpg" alt="masonery">
                                <div class="masonery-info">
                                    <i class="fas fa-image"></i>
                                    <h3>CREATIVELY DESIGNED</h3>
                                    <p>Lorem ipsum dolor sit</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="masonery-image">
                            <a>
                                <img src="../../../assets/images/masonery/masonery-4.jpg" alt="masonery">
                                <div class="masonery-info">
                                    <i class="fas fa-image"></i>
                                    <h3>CREATIVELY DESIGNED</h3>
                                    <p>Lorem ipsum dolor sit</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="row g-0 full-height">
                    <div class="col-6 col-sm-6">
                        <div class="masonery-image">
                            <a>
                                <img src="../../../assets/images/masonery/masonery-5.jpg" alt="masonery">
                                <div class="masonery-info">
                                    <i class="fas fa-image"></i>
                                    <h3>CREATIVELY DESIGNED</h3>
                                    <p>Lorem ipsum dolor sit</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6">
                        <div class="row g-0 full-height">
                            <div class="col-12">
                                <div class="masonery-image">
                                    <a>
                                        <img src="../../../assets/images/masonery/masonery-6.jpg" alt="masonery">
                                        <div class="masonery-info">
                                            <i class="fas fa-image"></i>
                                            <h3>CREATIVELY DESIGNED</h3>
                                            <p>Lorem ipsum dolor sit</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="masonery-image">
                                    <a>
                                        <img src="../../../assets/images/masonery/masonery-7.jpg" alt="masonery">
                                        <div class="masonery-info">
                                            <i class="fas fa-image"></i>
                                            <h3>CREATIVELY DESIGNED</h3>
                                            <p>Lorem ipsum dolor sit</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Masonery Section -->