<!-- Service Section -->
<section class="service-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <small>We Work With</small>
            <h2>AMAZING SERVICES</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 service-item pt-30 pb-30">
                <div class="service-card">
                    <div class="service-card-icon">
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="service-card-info">
                        <h3>PHOTOGRAPHY</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 service-item pt-30 pb-30">
                <div class="service-card">
                    <div class="service-card-icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="service-card-info">
                        <h3>WEB DESIGN</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 service-item pt-30 pb-30">
                <div class="service-card">
                    <div class="service-card-icon">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <div class="service-card-info">
                        <h3>CREATIVITY</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 service-item pt-30 pb-30">
                <div class="service-card">
                    <div class="service-card-icon">
                        <i class="fas fa-book-open"></i>
                    </div>
                    <div class="service-card-info">
                        <h3>SEO</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 service-item pt-30 pb-30">
                <div class="service-card">
                    <div class="service-card-icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="service-card-info">
                        <h3>CSS/HTML</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 service-item pt-30 pb-30">
                <div class="service-card">
                    <div class="service-card-icon">
                        <i class="far fa-image"></i>
                    </div>
                    <div class="service-card-info">
                        <h3>DIGITAL</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section -->
