@import "assets/css/variable";

// Helper
body {
    font-family: $default_font;
}
a {
    color: $main_color;
    text-decoration: none;
    transition: all 0.3s linear;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
    color: $text_color;
    font-family: $secondary_font;
    font-weight: 700;
} 
p {
    color: $paragraph;
}
.bg-green {
    background-color: $bg_color;
}
.bg-section {
    background-color: $bg_color_offwhite;
}
.full-height {
    height: 100%;
}
.form-control {
    font-size: 16px;
    color: $text_color;
    &::placeholder {
        color: $paragraph;
    }
    &:active, &:focus {
        border: 0;
        box-shadow: none;
    }
}
.main-btn {
    background-color: transparent;
    border-radius: 0;
    border: 4px solid #fff;
    font-size: 14px;
    font-family: $secondary_font;
    font-weight: 700;
    color: #fff;
    padding: 12px 30px;
    transition: all 0.3s linear;
    &:focus, &:active {
        box-shadow: none;
    }
    &:hover {
        border-color: $secondary_color;
        background-color: $secondary_color;
        color: #fff;
    }
    @media #{$to-767} {
        padding: 9px 25px;
    }
}
.section-title {
    text-align: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    small {
        display: block;
        font-size: 24px;
        color: $text_color;
        font-family: $optional_font;
        margin-bottom: 23px;
    }
    h2 {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 29px;
        padding-bottom: 35px;
        position: relative;
        &:after {
            content: "";
            width: 60px;
            height: 4px;
            background-color: $secondary_color;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    p {
        font-size: 15px;
        color: $paragraph;
        line-height: 1.6;
        margin-bottom: 23px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media #{$to-991} {
        margin-bottom: 30px;
        small {
            font-size: 21px;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 26px;
            margin-bottom: 25px;
            padding-bottom: 30px;
        }
        p {
            margin-bottom: 17px;
        }
    }
    @media #{$to-767} {
        small {
            font-size: 17px;
        }
        h2 {
            font-size: 23px;
        }
    }
}
.pt-100 {
    padding-top: 100px;
    @media #{$to-991} {
        padding-top: 50px;
    }
}
.pt-70 {
    padding-top: 70px;
    @media #{$to-991} {
        padding-top: 20px;
    }
}
.pt-30 {
    padding-top: 30px;
}
.pb-100 {
    padding-bottom: 100px;
    @media #{$to-991} {
        padding-bottom: 50px;
    }
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-70 {
    padding-bottom: 70px;
    @media #{$to-991} {
        padding-bottom: 20px;
    }
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
    @media #{$to-991} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
// Animate image card
.animate-image-card {
    position: relative;
    transition: all 0.3s ease;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg_color;
        opacity: 0;
        transition: all 0.2s linear;
        z-index: -1;
        transform: translate(-10px, -10px);
    }
    &:hover {
        transform: translate(-10px, -10px);
        &:before {
            opacity: 1;
            transform: translate(10px, 10px);
        }
    }
    .animate-card-area {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: $gradient-overlay;
            opacity: 0;
            transition: all 0.3s linear;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
    @media #{$to-575} {
        &:before {
            transform: translate(0, -10px);
        }
        &:hover {
            transform: translate(0, -10px);
            &:before {
                transform: translate(0, 10px);
            }
        }
    }
}
// Person carousel
.person-carousel-box {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    @media #{$to-1199} {
        padding-left: 70px;
        padding-right: 70px;
    }
    @media #{$to-991} {
        display: block;
        text-align: center;
        padding: 0;
    }
}
.person-carousel-image {
    flex: 0 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media #{$to-1199} {
        width: 180px;
        height: 180px;
    }
    @media #{$to-991} {
        width: 150px;
        height: 150px;
        display: inline-block;
        margin-bottom: 15px;
    }
}
.person-carousel-thumb {
    border: 5px solid $bg_color;
    padding: 45px;
    text-align: center;
    i {
        font-size: 60px;
        color: $bg_color;
    }
    @media #{$to-1199} {
        padding: 35px;
        i {
            font-style: 50px;
        }
    }
    @media #{$to-991} {
        display: inline-block;
        margin-bottom: 25px;
        i {
            font-style: 40px;
        }
    }
    @media #{$to-767} {
        padding: 30px;
        i {
            font-style: 25px;
        }
    }
}
.person-carousel-texts {
    padding-left: 55px;
    p {
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media #{$to-1199} {
        padding-left: 45px;
    }
    @media #{$to-991} {
        padding-left: 0;
        p {
            font-size: 20px;
        }
    }
    @media #{$to-767} {
        p {
            font-size: 18px;
        }
    }
}
.person-carousel-endline {
    font-size: 24px;
    font-family: $optional_font;
    color: $text_color;
    margin-bottom: 15px;
    padding-left: 80px;
    display: inline-block;
    position: relative;
    &:before {
        content: "";
        width: 60px;
        height: 3px;
        background-color: $secondary_color;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &:last-child {
        margin-bottom: 0;
    }
    @media #{$to-991} {
        font-size: 20px;
    }
    @media #{$to-767} {
        font-size: 18px;
    }
}
.speech-carousel {
    .owl-theme {
        .owl-nav {
            margin-top: 30px;
            [class*=owl-] {
                padding: 7px 15px;
                background-color: $bg_color;
                color: #fff;
                border-radius: 0;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 21px;
                &:focus, &:active {
                    background-color: $bg_color;
                    color: #fff;
                }
            }
            @media #{$to-767} {
                [class*=owl-] {
                    padding: 7px 14px;
                    font-size: 18px;
                }
            }
            @media #{$from-992} {
                margin-top: 0;
                [class*=owl-] {
                    padding: 0;
                    background-color: transparent;
                    margin: 0;
                    color: #ccc;
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    &:focus, &:active {
                        background-color: transparent;
                        color: #ccc;
                    }
                }
                .owl-prev {
                    left: 0;
                }
                .owl-next {
                    right: 0;
                }
            }
        }
    }
}
// parallax-bg
.parallax-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #fff, $alpha: 0.85);
    }
}