@import "../../../assets/css/style.scss";
.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav {
    margin-bottom: 0;
    display: block;
    li {
        display: inline-block;
        a {
            padding-top: 0;
            padding-bottom: 0;
            font-family: $secondary_font;
            font-size: 15px;
            color: #fff;
        }
    }
}