<!-- Navbar -->
<div class="fixed-top">
    <nav class="navbar-area" #stickyMenu [class.sticky] = "sticky">
        <div class="container">
            <div class="main-navbar">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/images/logo.png" alt="logo" class="default-logo">
                    <img src="assets/images/logo-color.png" alt="logo" class="sticky-logo">
                </a>
                <ul class="navbar-nav ms-lg-auto" [class.active]="MobileNavActive">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" (click)="viewSubMenu()">Service</a>
                        <ul class="dropdown-menu" [class.active]="subMenuActive">
                            <li class="nav-item">
                                <a routerLink="/" class="nav-link">Service Grid</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/" class="nav-link">Service Details</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link">Work</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-actions">
                    <li>
                        <a><i class="fab fa-opencart"></i></a>
                    </li>
                    <li>
                        <a (click)="viewSearch()"><i class="fas fa-search"></i></a>
                    </li>
                    <li class="d-xl-none" (click)="viewMobileNav()">
                        <a><i class="fas fa-bars"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn main-btn main-btn-green" (click)="signInWithGoogle()" *ngIf="!user">
                            <i class="fas fa-user"></i>Login
                        </a>
                        <div class="user-prof" *ngIf="user">
                            <div class="user-prof-thumb">
                                <img src="{{user.photoUrl}}" alt="">
                            </div>
                            <div class="user-prof-texts">
                                <h4>{{user.name}}</h4>
                                <p>{{user.email}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar -->

<!-- Search -->
<div class="search-wrapper" [class.active]="searchOpen">
    <div class="search-wrapper-close" (click)="searchClose()">
        <i class="fas fa-times"></i>
    </div>
    <div class="search-wrapper-body">
        <a routerLink="/">
            <img src="assets/images/logo.png" alt="logo">
        </a>
        <form>
            <div class="form-group" onsubmit="return false">
                <input type="text" class="form-control" placeholder="Search">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Search -->