<!-- <div class="fixed-top">
    <nav class="navbar-area">
        <div class="container">
            <div class="navbar">
                <a routerLink="/" class="navbar-brand">
                    <img src="../../../assets/images/logo.png" alt="logo">
                </a>
                <div class="navbar-nav">
                    <ul>
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                <a routerLink="/" class="nav-link">Shops Grid</a>
                                </li>
                                <li class="nav-item">
                                <a routerLink="/" class="nav-link">Shop Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div> -->
<p>Navbar works!</p>