<!-- About Section -->
<section class="about-us-section pt-100 pb-70" id="test">
    <div class="container">
        <div class="section-title">
            <small>What We Do</small>
            <h2>STORY ABOUT US</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 pb-30">
                <div class="about-image-card">
                    <a routerLink="/">
                        <img src="../../../assets/images/about/about-1.jpg" alt="about">
                        <div class="about-image-card-info">
                            <i class="fas fa-user-friends"></i> <br>
                            SUPER TEAM
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 pb-30">
                <div class="about-image-card">
                    <a routerLink="/">
                        <img src="../../../assets/images/about/about-2.jpg" alt="about">
                        <div class="about-image-card-info">
                            <i class="fas fa-user-friends"></i> <br>
                            SUPER TEAM
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 offset-sm-3 offset-lg-0 pb-30">
                <div class="about-image-card">
                    <a routerLink="/">
                        <img src="../../../assets/images/about/about-3.jpg" alt="about">
                        <div class="about-image-card-info">
                            <i class="fas fa-user-friends"></i> <br>
                            SUPER TEAM
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h1 #counter [countUp]="param">0</h1>
    </div>
</section>
<!-- About Section -->